[run]
concurrency=multiprocessing
branch = True
parallel = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
omit =
    # omit this single file
    glypy/io/glycomedb.py
    glypy/io/glycoct_xml.py
    glypy/algorithms/database.py
    glypy/structure/modification.py
    glypy/tests/*
    glypy/utils/compat.py
    glypy/plot/*