test_reports/
test_data/*.png
*sublime*
.pytest_cache/*
**.doctree
docs/_build/*
examples/
.coverage
.noseids
.ropeproject/
contrib/
*egg-info/
*.pyc
.ipynb_checkpoints/
*.pyd
*__pycache__
glypy/composition/ccomposition.c
glypy/composition/ccomposition.html
htmlcov/
dist/
build/
.cache/
