test_reports/
test_data/*.png
*sublime*
.pytest_cache/*
**.doctree
docs/_build/*
examples/
.coverage
.noseids
.ropeproject/
contrib/
*egg-info/
*.pyc
.ipynb_checkpoints/
*.pyd
*__pycache__
glypy/composition/ccomposition.c
glypy/composition/ccomposition.html
glypy/utils/cenum.c
glypy/utils/cenum.html
glypy/_c/count_table.c
glypy/_c/count_table.html
glypy/_c/structure/*.html
glypy/_c/structure/*.c
htmlcov/
dist/
build/
.cache/
.vscode/
Untitled*.ipynb