.method, .function, .attribute {
    border-bottom: 1px lightgrey solid;
}

.descclassname {
    
}

.docutils.literal {
    padding: 3px;
    font-weight: 900;
    border-radius: 3px;
}

.sig-paren{
    font-weight: 600;
}

.field-body .first {
    margin-top: 2em !important;
}

.py-attr {
    background-color: lightsteelblue !important;
}

.py-class {
    background-color: palegreen !important;
}

dl.class > dt > em.property ~ code.descname {
    font-size: 1.3em;
}

div.related {
    background: #395891 !important;
}

div.footer {
    color: #EFE9E9 !important;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
    font-family: Helvetica !important;
    background-color: #B8ACF0 !important;
}
